
  <div class="row text-center">
    <div class="col-12" >
        <h2 class="display-5 pb-5 mb-5 animation-h">Meet the Crafters and Artist</h2>
    </div>

    <div class="col-md-6 col-sm-12 m-auto p-3" *ngFor='let creator of creatorList  let i=index' id="creator">

      <div class="col-12 creator-picture p-2 "><img class="border border-3 border-animation  inline-photo show-on-scroll-creator" src="{{creator.picture}}" alt="" id="animate-image-creator"></div>
      <div class="col-12 creator-name">{{creator.name}}</div>
      <div class="col-12 "><p class="creator-role">{{creator.role}}</p></div>
      <div class="col-12 creator-description">{{creator.description}}</div>

    </div>

</div>
