
    <footer class="py-5 footer-text" id="contact-page">
        <!-- <div class="d-flex justify-content-between py-4 my-4 border-top"> -->
      <div class="row border-top pt-5">

        <div class="col-lg-6">
          <p>STYROCRAFTANDARTS.COM</p>
          <p >Macabug Urban Poor Salvacion Ormoc City Philippines</p>
          <p ><i class="fas fa-mobile"></i> 0919-596-8136</p>
          <p ><i class="fas fa-mobile"></i> 0906-537-4390</p>
          <p><a  href="https://www.google.com/maps/@11.0603625,124.5842254,3a,75y,178.24h,74.37t/data=!3m6!1e1!3m4!1shpltUzLDATiDpJ2rf0U4EA!2e0!7i13312!8i6656?hl=en"><i class="fas fa-map-marker-alt"></i> Open in Google Map</a></p>
          
        </div>
   

          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#features-page" class="nav-link px-2 text-muted">Services</a></li>
            <li class="nav-item"><a href="#contact-page" class="nav-link px-2 text-muted">Contact Us</a></li>
          </ul>
          <p class="text-center text-muted">Styrocraftandarts.com © 2021 All rights reserved.</p>

  
  
     <div class="row border-top pt-5 text-center text-muted">
        <p class="col-md-12" >This Website is made with <i class="far fa-heart" style="color: red;"></i> by </p>
        <p class="col-md-12"><a  href="https://www.facebook.com/mynameisgarz/" target="_blank"> Gary Yu </a></p>
      </div> 
    </div>
    </footer>
