<section id="navigation-bar">
  
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" >

    <div class="container">
      <a class="navbar-brand fw-bold fs-4" href="#"><i class="fas fa-stroopwafel"></i> <span class="text-weight"> S</span>tyro Craft & Arts</a>
      <button id="myClickMenu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 ">
          <li  class="nav-item">
            <a class="nav-link active nav-move" aria-current="page" href="#" >Home</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link nav-move" href="#features-page " >Services</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link nav-move" href="#contact-page" >Contact Us</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link nav-move" href="#" (click)="showLoginForm()" >Login</a>
          </li>
  
        </ul>
        <form class="d-flex" *ngIf="show" #form="ngForm" novalidate>
          <input class="form-control me-2" type="name" placeholder="username" aria-label="Search"  required>
          <input class="form-control me-2" type="password" placeholder="password" aria-label="Search" required>
          <button class="btn btn-outline-success" type="submit" [disabled]="form.invalid">Login</button>
        </form>
      </div>
    </div>
  </nav>

</section>